@use "./../public/css/fonts";
@use "./../public/css/colors";

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "PoppinsRegular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
