@font-face {
  font-family: 'PoppinsRegular';
  src: url('./Poppins-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('./Poppins-Bold.ttf');
  font-style: normal;
}
.hello {
  font-family: 'PoppinsRegular';
}