@font-face {
  font-family: "PoppinsRegular";
  src: url("./../public/fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
}
// @font-face {
//   font-family: "PoppinsBlack";
//   src: url("./../public/fonts/Poppins-Black.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsBlack";
//   src: url("./../public/fonts/Poppins-BlackItalic.ttf");
//   font-style: normal;
// }
@font-face {
  font-family: "PoppinsBold";
  src: url("./../public/fonts/Poppins-Bold.ttf");
  font-style: normal;
}
// @font-face {
//   font-family: "PoppinsBoldItalic";
//   src: url("./../public/fonts/Poppins-BoldItalic.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsExtraBold";
//   src: url("./../public/fonts/Poppins-ExtraBold.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsExtraBoldItalic";
//   src: url("./../public/fonts/Poppins-ExtraBoldItalic.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsExtraLight";
//   src: url("./../public/fonts/Poppins-ExtraLight.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsExtraLightItalic";
//   src: url("./../public/fonts/Poppins-ExtraLightItalic.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsItalic";
//   src: url("./../public/fonts/Poppins-Italic.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsLight";
//   src: url("./../public/fonts/Poppins-Light.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsLightItalic";
//   src: url("./../public/fonts/Poppins-LightItalic.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsMedium";
//   src: url("./../public/fonts/Poppins-Medium.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsMediumItalic";
//   src: url("./../public/fonts/Poppins-MediumItalic.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsSemiBold";
//   src: url("./../public/fonts/Poppins-SemiBold.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsSemiBoldItalic";
//   src: url("./../public/fonts/Poppins-SemiBoldItalic.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsThin";
//   src: url("./../public/fonts/Poppins-Thin.ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "PoppinsThinItalic";
//   src: url("./../public/fonts/Poppins-ThinItalic.ttf");
//   font-style: normal;
// }
