@font-face {
  font-family: "NotoSansDevanagariBlack";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-Black.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "NotoSansDevanagariBold";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-Bold.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "NotoSansDevanagariExtraBold";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-ExtraBold.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "NotoSansDevanagariExtraLight";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-ExtraLight.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "NotoSansDevanagariLight";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-Light.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "NotoSansDevanagariMedium";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-Medium.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "NotoSansDevanagariRegular";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-Regular.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "NotoSansDevanagariSemiBold";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-SemiBold.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "NotoSansDevanagariThin";
  src: url("./../public/fonts/NotoSansDevanagari/NotoSansDevanagari-Thin.ttf");
  font-style: normal;
  font-size: 14px;
}