@font-face {
	font-family: 'NotoSerifDevanagari';
	src: url('./../public/fonts/NotoSerifDevanagari/NotoSerifDevanagari-VariableFont_wdth,wght.ttf') format('ttf supports variations'),
       url('./../public/fonts/NotoSerifDevanagari/NotoSerifDevanagari-VariableFont_wdth,wght.ttf') format('ttf-variations');
	font-weight: 100 1000;
	font-stretch: 25% 200%;
}