@font-face {
  font-family: "TillanaRegular";
  src: url("./../public/fonts/Tillana/Tillana-Regular.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "TillanaBold";
  src: url("./../public/fonts/Tillana/Tillana-ExtraBold.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "TillanaLight";
  src: url("./../public/fonts/Tillana/Tillana-Bold.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "TillanaMedium";
  src: url("./../public/fonts/Tillana/Tillana-Medium.ttf");
  font-style: normal;
  font-size: 14px;
}
@font-face {
  font-family: "TillanaSemiBold";
  src: url("./../public/fonts/Tillana/Tillana-SemiBold.ttf");
  font-style: normal;
  font-size: 14px;
}